{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="height: auto">
    <a href="/enq"> <span style="margin-left: 70px;width: 50px"><i class="fas fa-arrow-left fa-lg"
                style="color:teal"></i></span></a>
    {% if user.is_authenticated and user.profile.is_doctor %}
    <center>
        <h1 style="color:midnightblue">Welcome Dr. {{ user.first_name }} </h1>
    </center>
    <center>
        <div class="shadow col-sm ml-5 mb-5"
            style="background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);width: 900px;border-radius: 10px;">
            {% for q in myquestion %}
            {% if q.posted %}
            <span class=" mt-3 ml-0" style="float: left;background: transparent;font-size: 20px"><i class="fas fa-user"
                    style="color: darkorchid"></i>&nbsp;<b>{{ q.user_name }} </b></span>
            <br> <br>
            <span style="float: left" class="badge badge-dark">{{ forloop.counter }}</span>
            <span style="float: left;margin-left: 20px"><b>Question -</b> {{ q.query }} </span> <br>
            <span style="background: transparent;float: right"> <img src=" {% static "/images/right.svg" %}"
                    class="mr-3" style="width:20px" alt=""> <b> {{ q.answer }}</b></span><br><br>
            <hr>
            {% else %}
            <span class=" mt-3 ml-0" style="float: left;background: transparent;font-size: 20px"><i class="fas fa-user"
                    style="color: darkorchid"></i>&nbsp;<b>{{ q.user_name }} </b></span>
            <br> <br>
            <span style="float: left" class="badge badge-dark">{{ forloop.counter }}</span>
            <span style="float: left;margin-left: 20px"><b>Question -</b> {{ q.query }} </span> <br>
            <form action="/answer/" method="POST">
                {% csrf_token %}
                <textarea style="width:300px" class="form-control" name="d_answer"
                    placeholder="write answer"></textarea>
                <input type="hidden" name="query" value="{{ q.query }}">
                <input type="hidden" name="tag" value="{{ user.profile.tag }}">
                <input type="hidden" name="user_name" value="{{ q.user_name }}">
                <input type="hidden" name="doc_name" value="{{ user.get_username }}">
                <input type="submit" class="btn btn-success mt-2" value="Post">
            </form>
            <hr>
            {% endif %}
            {% empty %}
            <p>
                You have not any questions yet
            </p>
            {% endfor %}
            {% elif user.is_authenticated %}
            <center>
                <h1 style="color:midnightblue">Welcome {{ user.first_name }} </h1>
            </center>
            <center>
                <div class="shadow col-sm ml-5 mb-5"
                    style="background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);width: 900px;border-radius: 10px;">
                    {% for q in question %}
                    {% if q.posted %}
                    <span style="float: left" class="badge badge-dark mt-3">{{ forloop.counter }}</span><span
                        class=" mt-3 ml-0" style="float: left;background: transparent;font-size: 20px"><b>Question -</b>
                        <br>{{ q.query }} </span> <br>
                    <span style="background: transparent;float: right"> <img src=" {% static "/images/right.svg" %}"
                            class="mr-3" style="width:20px" alt=""> <b> {{ q.answer }}</b></span><br><br>
                    <span style="background: transparent;float: right"> <b> {{ q.doc_name }}</b></span><br>
                    <hr>
                    {% else %}
                    <span style="float: left" class="badge badge-dark">{{ forloop.counter }}</span>
                    <span class=" mt-3 ml-0" style="float: left;background: transparent;font-size: 20px"><b>Question
                            -</b> <br>{{ q.query }} </span> <br>
                    <span style="background: transparent;float: right"> <img src=" {% static "/images/wrong.svg" %}"
                            class="mr-3" style="width:20px" alt=""> <b> Will Reply Soon </b></span><br><br>
                    <span style="background: transparent;float: right"> <b> </b></span><br>
                    <hr>
                    {% endif %}
                    {% empty %}
                    <p>
                        You have not any questions yet
                    </p>
                    {% endfor %}
                </div>
            </center>
            {% endif %}
        </div>
        {% endblock %}