{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 align="center">
    Find Doctors
</h1>
<br>
<h3 align="center">Our Recommendations</h3>
<br>
<div class="row mr-0">

    <div class="col" style="height:600px;width:370px;">
        <h3 align="center" class="badge-info ml-2 rounded">Filters</h3>

    </div>
    <div class="container  ml-2">
        <div class="row mb-3">
            <div class="card  mt-2 mx-3" style="width: 15rem;">
                    
                <div class="card-body">
                    <h5 class="card-title">Dr. Vemon </h5>
                    <p class="card-text">Works in Ruchi Hospital
                        <br>
                        7045679812
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dermatologist</li>
                    <li class="list-group-item">MBBS , MD </li>
                    <li class="list-group-item">8+ Yrs Exp</li>
                </ul>

            </div>
            <div class="card mt-2 mx-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
            <div class="card mt-2 mx-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
            <div class="card mt-2 mx-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
            <div class="card mt-3 mx-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
            <div class="card mt-3 mx-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
            <div class="card mt-3 mx-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
            <div class="card mt-3 mx-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
        </div>

    </div>
</div>


{% endblock content %}